<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8"/>
    <title>HOME</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/static/css/basics.css"/>
    <header>
        <nav>
            <ul>
                <li><a href="/">Inicio</a></li>
                <li><a href="/informacion">Informacion</a></li>
                <li><a href="/login">Login</a></li>
                <li><a href="/articulos">Articulos</a></li>
                <li><a href="/contacto">Contacto</a></li>
            </ul>
        </nav>
    </header>
</head>
<body>
    <br>
    <h1>INFORMACION</h1>
    <br>
    <h1>QUE ESPERAR DE ESTA PLATAFORMA WEB</h1>
        <p>Descripción breve</p>
        <a href="/informacion">Click para saber mas...</a>
    <br>
    <h1>COMPARTE TUS LECTURAS Y PRESTATE LAS DE OTROS</h1>
        <p>Descripción breve</p>
        <a href="/articulos">Click para mirar los articulos</a>
    <br>
    <h1>UNA DISTRACCIÓN VISUAL</h1>
        <p>Escucha explicaciones de las enfermadades y tratamientos</p>
        <p>Distraete con pildoras educativas</p>
    <br>
    <footer>
        <p>Quieres contactarnos</p>
        <a href="/contacto">Clic aqui</a>
    </footer>
</body>
</html>
