<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8"/>
    <title>Información</title>
    <link rel="stylesheet" type="text/css" href="/static/css/basics.css"/>
    <header>
            <nav>
                <ul>
                    <li><a href="/">Inicio</a></li>
                    <li><a href="/informacion">Informacion</a></li>
                    <li><a href="/login">Login</a></li>
                    <li><a href="/articulos">Articulos</a></li>
                    <li><a href="/contacto">Contacto</a></li>
                </ul>
            </nav>
    </header>
</head>
<body>
<p>informacion</p>
</body>
</html>