<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Contacto</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/indice.css') }}"/>
    <header>
            <nav>
                <ul>
                    <li><a href="/">Inicio</a></li>
                    <li><a href="#">Informacion</a></li>
                    <li><a href="login">Login</a></li>
                    <li><a href="#">intercambios</a></li>
                    <li><a href="#">Contacto</a></li>
                </ul>
            </nav>
        </header>
</head>
<body>

</body>
</html>