<!DOCTYPE html>
<html lang="es">

    <head>
        <meta charset="UTF-8"/>
        <title>Title</title>
        <link rel="stylesheet" type="text/css" href="/static/css/indice.css"/>
        <header>
            <nav>
                <ul>
                    <li><a href="/">Inicio</a></li>
                    <li><a href="#">Informacion</a></li>
                    <li><a href="login">Login</a></li>
                    <li><a href="#">intercambios</a></li>
                    <li><a href="/contacto">Contacto</a></li>
                </ul>
            </nav>
        </header>
    </head>
    <body>
    <p>MENU</p>
    <br>
    <h1>INFORMACION</h1>
    <br>
    <h1>DISFRUTA MIENTRAS ESPERAS. Unete perro</h1>
    <p>Prestate i comparte libros</p>
    <p href="">--> Quiero unirme</p>
    <br>
    <p>Escucha explicaciones de las enfermadades y tratamientos</p>
    <br>
    <p>Mira videos sobre  El cuerpo humano</p>
    </body>
</html>
