<!DOCTYPE html>
<html lang="es">

    <head>
        <meta charset="UTF-8"/>
        <title>Title</title>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/indice.css') }}"/>
        <header>
            <nav>
                <ul>
                    <li><a href="/">Inicio</a></li>
                    <li><a href="#">Informacion</a></li>
                    <li><a href="login">Login</a></li>
                    <li><a href="#">intercambios</a></li>
                    <li><a href="/contacto">Contacto</a></li>
                </ul>
            </nav>
        </header>
    </head>
    <body>
    <p></p>
    </body>
</html>