<!DOCTYPE html>
<html lang="es">

    <head>
        <meta charset="UTF-8"/>
        <title>Title</title>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/indice.css') }}"/>
        <header>
            <nav>
                <ul>
                    <li><a href="#">Inicio</a></li>
                    <li><a href="#">Tutoriales</a></li>
                    <li><a href="#">Cursos</a></li>
                    <li><a href="#">Bootcamps</a></li>
                    <li><a href="#">Contacto</a></li>
                </ul>
            </nav>
        </header>
    </head>
    <body>
    <p></p>
    </body>
</html>